<div>
<h1 class="title center d-flex justify-content-center">Your Word is:</h1>
<h2 class="title center d-flex justify-content-center"><%= @word %></h2>
</div>
<%= link_to "Try Again", new_path, class: "btn btn-outline-secondary" %>